<div class="row">
  <div class="col-md-12">
    <h2>About</h2>
    <hr />
    <p>This is the about page.</p>
  </div>
</div>
<div class="container" style="padding-top: 90px;">
        <div class="row">
            <aside class="col-md-3">
                <h2>Left Column</h2>
                <p>As you shop online, think about your basic needs. Financial management and desire for a better shopping experience can be more successfully achieved by placing wants second to essentials.</p>
            </aside>
            <section class="main col-md-9">
                <article>
                    <h2>Right Column</h2>
                    <p>
                        The COVID-19 pandemic accelerated the shift to online shopping. Physical distancing and stay-at-home orders forced consumers to adapt, leading to a significant increase in online shopping by several types of goods. Essential items like groceries, domestic products, and personal care supplements noted substantial growth. Even non-essential things such as skin care and apparel had an improved intention towards online purchasing. Figure out what you need the most and stick with that when doing internet transactions.
                    </p>
                    <p>
                        New spending habits resulted from financial stressors and shifting priorities affecting customers. There was a fragmentation of brand loyalty as 36% of shoppers switched to a new brand while 25% sought for private label brands. Interestingly, 73% of those who experimented with other brands intend on continuing with their routines. In uncertain times especially now, quality and value count more than brand loyalty.
                    </p>
                    <p>
                        With internet trading, this sense of personal control and autonomy is obtained. Buying decisions made can instantly uplift one’s mood and fight off the remaining sadness. Note that satisfaction comes from meeting essential needs while satisfying impulsive wants may not.
                    </p>
                    <p>
                        Understanding what is important to have over what is nice to have helps you budget smartly. Needs are more practical requirements like buying a new gadget after an old one has worn out, whereas wants often arise out of dreams or the desire for a certain kind of lifestyle. By focusing on things we really need instead of non-essential ones, we won’t end up spending too much.
                    </p>
                    <p>
                        Retailers must therefore create a seamless omnichannel experience as online shopping becomes increasingly preferred by consumers. Prioritize essential needs, so that one-on-one online shopping fits into your lifestyle and preferences. Keep in mind that buyers seek convenience quickness when navigating through virtual malls.
                    </p>
                </article>
            </section>
        </div>
    </div>