<div class="row">
  <div class="col-md-12">
    <h2 style="margin-top: 50px;">AS4 - Add Item</h2>
    <hr />
    <form action="/items/add" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="itemDate">Item Date</label>
        <input type="date" class="form-control" id="itemDate" name="itemDate" required>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" required>
      </div>
      <div class="form-group">
        <label for="itemCategory" class="form-label">Item Category</label>
                        <select class="form-select" id="itemCategory" name="itemCategory" required>
                            <option selected disabled value="">Choose a category</option>
                            <option value="Category 1">Category 1 - Home, Garden</option>
                            <option value="Category 2">Category 2 - Electronics, Computers, Video Games</option>
                            <option value="Category 3">Category 3 - Clothing</option>
                            <option value="Category 4">Category 4 - Sports & Outdoors</option>
                            <option value="Category 5">Category 5 - Pets</option>
                        </select>
      </div>
      <div class="form-group">
        <label for="published">Published</label>
        <select class="form-control" id="published" name="published" required>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Add Item</button>
    </form>
  </div>
</div>
