<h2>User Login History for: {{session.user.userName}}</h2>
<table class="table table-striped" style="margin-top: 50px;">
    <thead>
        <tr>
            <th>Date</th>
            <th>Login Device</th>
        </tr>
    </thead>
    <tbody>
        {{#each session.user.loginHistory}}
        <tr>
            <td>{{this.dateTime}}</td>
            <td>{{this.userAgent}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
